<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="static/Query.css">
    <link rel="icon" href="Favicon.png" type="image/x-icon">
  </head>
  <body>
    <div class='Card'>
		<form>
			<div>
				<h1>WordCracker</h1>
			</div>
			<div>
				<h3>
					[Error]
				</h3>
				<p>
					Your request has been processed but unfortunately, the word(s) you are finding does not  exist in our database. Kindly, ensure your entries are valid. If your entries are valid and still no result, contact us. We are ready to update missing words.
				</p>
			</div>
			<div class='FooterContainer'>
				<p>
					Made With &hearts; By thegithaka
				</p>
			</div>
		</form>
    </div>
	<script src="Query.js"></script>
  </body>
</html>
